body {
    font-family: 'Times New Roman',monospace;
    min-height: 400px;
    background-color: #000000; ;
    background-size: 80vh;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  input {
    border-radius: 10px;
    padding: 5px;
    margin: 5px;
  }
  
  input[type=number]{
    width: 50px;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
    color: rgb(255, 255, 255);
  }
  
  .page-title {
    margin: 0 0 5px;
    color: rgb(255, 255, 255);
  }
  
  .page-subtitle {
    font-size: 60px;
    margin-top: 5px;
    color: rgb(255, 255, 255);
  }
  .texto{
    font-size: 40px;
    margin-top: 5px;
    text-align: left;
    color: rgb(255, 255, 255);
  }
  .resultado {
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    width: 30%;
    margin-left: auto;
    margin-right: auto; 
    color: rgb(255, 255, 255);
  }
  
  .cod_fonte{
    text-align: left;
    
  }

  .colunas{
    display: flex;
    flex-flow: row wrap;
  }

  .col1{
    width:50%;
    text-align: left;
    color: rgb(255, 255, 255);
  }
  .col2{
    width:50%;
    color: rgb(255, 255, 255);
  }

  .comandos{
    float:left;
    width:90%;
  }

table {
  border-collapse:collapse;
  border:solid 2px #ffffff;
  width:60%;
  margin: 0 auto;
  background-color: #ffffff;
  color:#000000
}

thead tr th {
  text-align:center;
  border-bottom:solid 2px #ffffff;
  border-left:solid 2px #ffffff;
}
         
tr td, tr th {
  border:dotted 1px #ffffff;
  text-align: center; 
  vertical-align: middle;
  }

tfoot tr td {
  text-align:center;
  border-top:solid 2px #ffffff;
}

#tbZebrada tbody tr:nth-child(2n+1) { background: #eee; }
